import Layout from "../../layout.marko"
<${Layout} titulo="Página não encontrada">
    <@conteudo>
        <div class="container">
            <p>A página solicitada não foi encontrada</p>
        </div>
    </@conteudo>
</>