import Layout from "../../layout.marko"
<${Layout} titulo="Erro Inesperado">
    <@conteudo>
        <div class="container">
            <p>Ocorreu um erro inesperado. Tente novamente mais tarde</p>
        </div>
    </@conteudo>
</>