<div class="container">
  <h1>Clientes</h1>
  <a class="btn btn-info btn-sm stretched-link float-right mb-1">NOVO</a>
  <table class="table table-striped table-bordered" id="clientes">
      <thead class="thead-light">
          <tr>
              <th>NOME</th>
              <th>EMAIL</th>
          </tr>
      </thead>
      <tbody>
          <tr>
              <td class="align-middle">{{ result[0].nomeClie  | json }}</td>
              <td class="align-middle">{{ result[0].emailClie | json }}</td>
          </tr>
          <tr>
              <td class="align-middle">{{ result[1].nomeClie  | json }}</td>
              <td class="align-middle">{{ result[1].emailClie | json }}</td>
          </tr>

          <tr>
              <td class="align-middle">{{ result[2].nomeClie  | json }}</td>
              <td class="align-middle">{{ result[2].emailClie | json }}</td>
          </tr>

          <tr>
              <td class="align-middle">{{ result[3].nomeClie  | json }}</td>
              <td class="align-middle">{{ result[3].emailClie | json }}</td>
          </tr>
  
          <tr>
              <td class="align-middle">{{ result[4].nomeClie  | json }}</td>
              <td class="align-middle">{{ result[4].emailClie | json }}</td>
          </tr>
      </tbody>
  </table>
</div>
